[run]
branch = True
include =
    anitya/*


[report]
fail_under = 88
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    anitya/tests/*
    anitya/db/migrations
    anitya/db/migrations/*
