[run]
branch = True
include =
    anitya/*
    anitya_schema/anitya_schema/*


[report]
fail_under = 88
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    anitya/tests/*
    anitya/db/migrations
    anitya/db/migrations/*
    anitya_schema/anitya_schema/tests/*
