*.pyc
build/
dist/
docs/_build/
docs/docblocks/
*egg-info/
*eggs/
*.cfg
!mypy.cfg
*.sqlite
*~
*.swp
*.swo
start-pkgdb
.cache/
.coverage
cnucnu/
*.egg
anitya-env
.tox
.idea/
.vagrant/
*.retry
anitya.db
client_secrets.json
oidc_credentials.json
anitya/static/docs/
.pytest_cache/
coverage.xml
htmlcov
pip-wheel-metadata/
venv/
.venv/
.vscode/
.container/postgresql/*
!.container/postgresql/.gitkeep
