include LICENSE README.rst
include alembic.ini
include runtests.sh createdb.py nosetests migrate_wiki.py
include requirements.txt readthedocs.txt test_requirements.txt
recursive-include fedmsg.d *
recursive-include files *
recursive-include anitya/templates *
recursive-include anitya/static *
