include LICENSE README.rst requirements.txt
include runtests.sh createdb.py nosetests migrate_wiki.py
recursive-include anitya *
recursive-include fedmsg.d *
recursive-include tests *
recursive-include files *
recursive-include alembic *

