include LICENSE README.rst CHANGELOG.rst requirements.txt
include runtests.sh createdb.py nosetests migrate_wiki.py
recursive-include fedmsg.d *
recursive-include files *
recursive-include alembic *

