alembic==1.8.1
anitya_schema==2.0.1
arrow==1.2.3
beautifulsoup4==4.11.1
defusedxml==0.7.1
fedora_messaging==3.0.2
flask==2.2.2
flask-login==0.6.2
flask-wtf==1.0.1
jinja2==3.1.2
ordered-set==4.1.0
packaging==21.3  # (no upper limit, this is a calendar-based version)
python-dateutil==2.8.2
semver==2.13.0
social-auth-app-flask==1.0.0
social-auth-app-flask-sqlalchemy==1.0.1
sqlalchemy==1.4.41
sseclient==0.0.27
Werkzeug==2.1.2 # Limit the package till https://github.com/maxcountryman/flask-login/issues/686 is fixed
straight.plugin==1.5.0
toml==0.10.2
webargs==8.2.0
wtforms==3.0.1
