alembic
bunch
dateutils
docutils
fedmsg
flask
flask-openid
flask-wtf
markupsafe
packaging
python-openid; python_version < '3.0'
python3-openid; python_version >= '3.0'
semantic_version
sqlalchemy
# https://github.com/ironfroggy/straight.plugin/issues/17#issuecomment-41466275
straight.plugin==1.4.0-post-1
wtforms
