blinker
coverage
flake8
pytest
pytest-cov
vcrpy
unittest2
mock

# Authentication integration testing
requests
requests-oauthlib

# required by vcs looks like
contextlib2

# Required to test building the docs
sphinx
sphinxcontrib-httpdomain
sqlalchemy_schemadisplay
