coverage
flake8
nose
vcrpy
unittest2
mock

# Authentication integration testing
requests
requests-oauthlib

# required by vcs looks like
contextlib2

# Required to test building the docs
sphinx
sphinxcontrib-httpdomain
