{% extends "master.html" %}

{% block body %}

<div class="page-header">
  <h1>Project: {{ project.name }}</h1>
</div>

<div class="row">

    <form method="POST" action="{{ url_for('map_project', project_id=project.id) }}" >
      {{ form.csrf_token }}
      <table id="input_table">
        <tr>
          <th>Linux distribution</th>
          <th>Package name</th>
          <th>Version URL</th>
          <th>Regex</th>
        </tr>
        {% for pkg in project.packages %}
        <tr>
          <td>
            <input type="text" name="distros" value="{{ pkg.distro }}" />
          </td>
          <td>
            <input type="text" name="pkgname" value="{{ pkg.package_name }}" />
          </td>
          {% if pkg.regex %}
          <td>
            <input type="text" name="version_url" value="{{ pkg.regex.version_url }}" />
          </td>
          <td>
            <input type="text" name="regex" value="{{ pkg.regex.regex }}" />
          </td>
          {% else %}
          <td>
            <input type="text" name="version_url" value="" />
          </td>
          <td>
            <input type="text" name="regex" value="" />
          </td>
          {% endif %}
        </tr>
        {% endfor %}
        <tr>
          <td>
            <input type="text" name="distros" value="" />
          </td>
          <td>
            <input type="text" name="pkgname" value="" />
          </td>
          <td>
            <input type="text" name="version_url" value="" />
          </td>
          <td>
            <input type="text" name="regex" value="" />
          </td>
        </tr>
      </table>

      <button type="button" class="btn btn-info" onclick="add_row('input_table')" >
        <span class="glyphicon glyphicon-plus"></span>
        Add row
      </button>

      <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        Add mapping project
      </button>

      <a href="{{ url_for('project', project_id=project.id) }}">
        <button type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-ban-circle"></span>
          Cancel
        </button>
      </a>

    </form>

</div>

{% endblock %}

{% block jscript %}
<script>
    function add_row(tableID) {
        var table = document.getElementById(tableID);
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var colCount = table.rows[0].cells.length;
        for (var i = 0; i < colCount; i++) {
            var newcell = row.insertCell(i);
            newcell.innerHTML = table.rows[1].cells[i].innerHTML;
            switch (newcell.childNodes[1].type) {
                case "text":
                    newcell.childNodes[1].value = "";
                    break;
                case "checkbox":
                    newcell.childNodes[1].checked = false;
                    break;
                case "select-one":
                    newcell.childNodes[1].selectedIndex = 0;
                    break;
            }
        }
        return false;
    };
</script>
{% endblock %}
