{% extends "master.html" %}

{% block body %}

<div class="page-header">
  <h1>Project: {{ project.name }}</h1>
</div>

<div class="row" resource="{{ project.homepage }}" typeof="doap:Project">
  <div class="col-md-5">
  <p>
    <a property="doap:homepage" href="{{ project.homepage }}"
       target="_blank">{{ project.homepage }}
    </a>
    <a href="{{ url_for('edit_project', project_id=project.id) }}">
        <button type="submit" class="btn btn-info">
          <span class="glyphicon glyphicon-edit"></span>
          Edit
        </button>
      </a>
  </p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" property="doap:name">{{ project.name }}</h3>
      </div>

      <span class="list-group-item">
        <span class="list-group-item-text">
          <dl class="dl-horizontal">
            <table class="table table-condensed">
              <tr>
                <th>Distribution</th>
                <th>Package name </th>
                <th>Version URL</th>
                <th>Regex</th>
                {% if is_admin %}
                <th></th>
                {% endif %}
              </tr>

              {% for distro in project.packages %}
              <tr>
                <td>{{ distro.distro }}</td>
                <td>{{ distro.package_name }}</td>
                {% if distro.regex %}
                <td>
                  <a href="{{ distro.regex.version_url }}">
                    {{ distro.regex.version_url }}
                  </a>
                </td>
                <td>
                  {{ distro.regex.regex }}
                </td>
                <td>
                  <a href="{{
                    url_for('edit_project_mapping',
                            project_id=project.id, pkg_id=distro.id) }}">
                    <button type="submit" class="btn btn-info">
                      <span class="glyphicon glyphicon-edit"></span>

                      Edit
                    </button>
                  </a>
                </td>
                {% else %}
                <td></td>
                <td></td>
                <td></td>
                {% endif %}
                {% if distro.regex %}

                {% endif %}
                {% if is_admin and distro.regex %}
                <td>
                  <a href="{{
                    url_for('delete_project_mapping',
                            project_id=project.id, regex_id=distro.regex.id) }}">
                    <button type="submit" class="btn btn-warning">
                      <span class="glyphicon glyphicon-remove"></span>
                      Delete
                    </button>
                  </a>
                </td>
                {% endif %}
              </tr>
              {% endfor %}

            </table>
          </dl>
        </span>

        {% if g.auth.logged_in %}
        <p class="pull-left">
           <a href="{{ url_for('map_project', project_id=project.id) }}">
            <button type="submit" class="btn btn-info">
              <span class="glyphicon glyphicon-map-marker"></span>
              Add distribution mapping
            </button>
          </a>
        </p>
        {% endif %}

        {% if is_admin %}
        <p class="pull-right">
          <a href="{{url_for('delete_project', project_id=project.id) }}">
            <button type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span>
              Delete
            </button>
          </a>
        </p>
        {% endif %}

        <div class="clearfix"></div>
      </span>
    </div>

    <div class="panel panel-heading">
      <span class="panel-title" id="version_info">
        {% if versions_known %}
        Latest version:
        <ul>
          {% for pkg in project.packages %}
          <li property="doap:release" typeof="doap:Version">
            <strong>{{ pkg.distro }}:</strong>
            <span property="doap:revision">{{ pkg.regex.version }}</span>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        No version available for this package
        <button type="submit" class="btn btn-success" id="checknow">
          <span class="glyphicon glyphicon-refresh"></span>
          Check now
        </button>
        {% endif %}
      </span>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            Logs
        </h3>
      </div>
      <span class="list-group-item">
        <span class="list-group-item-text">
          {% for pkg in project.packages %}
          <dl class="dl-horizontal">
            <strong>{{ pkg.distro }}:</strong> {{ pkg.regex.logs }}
          </dl>
          {% endfor %}
        </span>
        <div class="clearfix"></div>
      </span>
    </div>

  </div>
</div>

{% endblock %}

{% block jscript %}
<script>
  $('#checknow').click(function(){
    var _id = "{{ project.id }}";
    var _url = "{{ url_for('api_get_version') }}";
    $.ajax({
        url: _url ,
        type: 'POST',
        data: {id: _id},
        dataType: 'json',
        success: function(res) {
          output = "";
          for (var it in res) {
            if (res[it].latest_version){
              output += "<li>" + it + ": " + res[it].latest_version + "</li>";
            } else {
              output += "<li>" + it + ": " + res[it].error + "</li>";
            }
          }
          $('#version_info').html(
              "Latest versions: <ul>" + output + "</ul>");
        },
        error: function(res) {
            alert(
                'Unable to retrieve the latest version form upstream!\n'
                + 'ERROR: ' + res.responseJSON.error );
        }
    });
    return false;
  })
</script>
{% endblock %}
