{% extends "master.html" %}
{% from "functions.html" import render_field_in_row %}

{% block body %}

<div class="page-header">
  <h1>{{ context }} project</h1>
</div>
{% if context == 'Add' %}
<form method="POST" action="{{ url_for('new_project') }}" >
{% elif context == 'Edit' %}
<form method="POST" action="{{ url_for('edit_project', project_id=project.id) }}" >
{% endif %}
  <div class="row">
    <div class="col-md-6">
      <p> {{ context }} your project to Cnucnu Web</p>
      <div class="list-group">
        <span class="list-group-item">
          <table class="table table-condensed">
            <tr>
              {{ render_field_in_row(form.name) }}
              <td></td>
            </tr>
            <tr>
              {{ render_field_in_row(form.homepage) }}
              <td></td>
            </tr>
          </table>
        </span>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>
    {{ context }} project
  </button>
  {% if context == 'Add' %}
  <a href="{{ url_for('projects') }}">
  {% elif context == 'Edit' %}
  <a href="{{ url_for('project', project_id=project.id) }}">
  {% endif %}
    <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-ban-circle"></span>
      Cancel
    </button>
  </a>
  {{ form.csrf_token }}
</form>

{% endblock %}

{% block jscript %}
<script>
  $('#choices_url').change(function(){
    var name = $('#name').val();
    if (!name){
      name = '<insert name here>';
    }
    $('#version_url').val($(this).val() + ':' + name);
  })
  $('#choices_regex').change(function(){
    var name = $('#name').val();
    if (!name){
      name = '<insert name here>';
    }
    $('#regex').val($(this).val() + ':' + name);
  })
</script>
{% endblock %}
