{% extends "master.html" %}

{% block body %}

<div class="page-header">
  <h1>Project: {{ project.name }}</h1>
</div>

<div class="row" resource="{{ project.homepage }}" typeof="doap:Project">
  <div class="col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" property="doap:name">{{ project.name }}</h3>
      </div>

      <span class="list-group-item">
        <span class="list-group-item-text">
          <dl class="dl-horizontal">
            <table class="table table-condensed">
              <tr>
                <td>Homepage</td>
                <td>
                  <a property="doap:homepage" href="{{ project.homepage }}"
                     target="_blank">{{ project.homepage }}</a>
                </td>
              </tr>
              <tr>
                <td>Version URL</td>
                <td>
                  {% if '://' in project.version_url %}
                  <a href="{{ project.version_url }}" target="_blank">
                    {{ project.version_url }}
                  </a>
                  {% else %}
                  {{ project.version_url }}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Regex</td>
                <td>{{ project.regex }}</td>
              </tr>
              {% for package in project.packages %}
              <tr>
                <td>{{ package.distro }} name</td>
                <td>{{ package.package_name }}</td>
              </tr>
              {% endfor %}

            </table>
          </dl>
        </span>
        {% if g.auth.logged_in %}
        <p class="pull-right">
           <a href="{{ url_for('map_project', project_name=project.name) }}">
            <button type="submit" class="btn btn-info">
              <span class="glyphicon glyphicon-map-marker"></span>
              Map in a distribution
            </button>
          </a>
          <a href="{{ url_for('edit_project', project_name=project.name) }}">
            <button type="submit" class="btn btn-info">
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            </button>
          </a>
        {% endif %}
        {% if is_admin %}
          <a href="{{ url_for('delete_project', project_name=project.name) }}">
            <button type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span>
              Delete
            </button>
          </a>
        </p>
        {% endif %}
        <div class="clearfix"></div>
      </span>
    </div>

    <div class="panel panel-heading">
      <span class="panel-title" id="version_info">
        {% if project.version %}
        Latest version:
        <span property="doap:release" typeof="doap:Version">
            <span property="doap:revision">{{ project.version }}</span>
        </span>
        {% else %}
        No version available for this package
        <button type="submit" class="btn btn-success" id="checknow">
          <span class="glyphicon glyphicon-refresh"></span>
          Check now
        </button>
        {% endif %}
      </span>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            Logs
        </h3>
      </div>
      <span class="list-group-item">
        <span class="list-group-item-text">
          <dl class="dl-horizontal">
            {{ project.logs }}
          </dl>
        </span>
        <div class="clearfix"></div>
      </span>
    </div>

  </div>
</div>

{% endblock %}

{% block jscript %}
<script>
  $('#checknow').click(function(){
    var _name = "{{ project.name }}";
    var _project_url = "{{ project.version_url }}";
    var _regex = "{{ project.regex }}";
    var _url = "{{ url_for('api_get_version') }}";
    $.ajax({
        url: _url ,
        type: 'POST',
        data: {name: _name, url: _project_url, regex: _regex},
        dataType: 'json',
        success: function(res) {
            $('#version_info').text(
                "Latest version: " + res.latest_version);
            this.parentElement.removeChild($('#checknow'));
        },
        error: function(res) {
            alert(
                'Unable to retrieve the latest version form upstream!\n'
                + 'ERROR: ' + res.responseJSON.error );
        }
    });
    return false;
  })
</script>
{% endblock %}
