{% extends "master.html" %}

{% block body %}

<div class="page-header">
  <h1>Projects monitored</h1>
</div>

{% if total_page > 1 %}
<table>
    <tr>
        <td>
        {% if page > 1%}
            <a href="{{ url_for('projects') }}?page={{page - 1}}">
                &lt; Previous
            </a>
        {% else %}
            &lt; Previous
        {% endif %}
        </td>
        <td>{{ page }} / {{ total_page }}</td>
        <td>
            {% if page < total_page %}
            <a href="{{ url_for('projects') }}?page={{page + 1}}">
                Next &gt;
            </a>
            {% else %}
            Next >
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
    {% for project in projects %}
      <span class="list-group-item">
        <h4 class="list-group-item-heading">
          <a href="{{ url_for('project', project_name=project.name) }}">
            {{project.name}}
          </a>
        </h4>
        <p class="list-group-item-text">
          <dl class="dl-horizontal">
            <table class="table table-condensed">
              <tr>
                <td>URL</td>
                <td>{{ project.url }}</td>
              </tr>
              <tr>
                <td>Regex</td>
                <td>{{ project.regex }}</td>
              </tr>
            </table>
          </dl>
        </p>
        <div class="clearfix"></div>
      </span>
    {% else %}
    <blockquote>
        Oups this is embarrassing, it seems that no projects are being
        monitored currently.
    </blockquote>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
