{% extends "master.html" %}
{% from "functions.html" import render_field_in_row %}

{% block title %}Delete Distribution · Anitya{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Delete disribution: {{ distro.name }}</h1>
</div>

<form method="POST" action="{{ url_for('anitya_ui.delete_distro', distro_name=distro.name) }}" >
  <button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>
    Submit
  </button>
  <a href="{{ url_for('anitya_ui.distros') }}">
    <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-ban-circle"></span>
      Cancel
    </button>
  </a>
  {{ form.csrf_token }}
</form>

{% endblock %}
