{% extends "master.html" %}

{% block title %}Login · Anitya{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-4">

  <div class="list-group">
    {% for name, backend in available_backends.items() %}

      {% if name == 'openid'%}
        <span class="list-group-item">
            <h4 class="list-group-item-heading">OpenId Login</h4>
              <form role="form" action="{{url_for('anitya_ui.login')}}" method="post">
                <input name="openid" placeholder="https://id.openid.server">
                <span class="pull-right">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        Login</button>
                </span>
              </form>
            <div class="clearfix"></div>
        </span>
      {% else %}
        <span class="list-group-item">
          <a href="{{url_for('social.auth', backend=name)}}">{{ backend.__name__ }}</a>
        </span>
      {% endif %}
    {% endfor %}
  </div>
  </div>
</div>

{% endblock %}
