{% extends "master.html" %}

{%block header %}
{% if refresh %}
<meta http-equiv="refresh" content="5" >
{% endif %}
{% endblock %}


{% block body %}

<div class="page-header">
  <h1>Logs</h1>
  {% if refresh %}
  <p>This page should refresh automatically every 5 seconds</p>
  <a href="{{ url_for('browse_logs') }}?page={{page}}">
    <button type="submit" class="btn btn-danger" id="checknow">
      <span class="glyphicon glyphicon-remove-sign"></span>
      Remove auto-refresh
    </button>
  </a>
  {% else %}
  <a href="{{ url_for('browse_logs') }}?page={{page}}&refresh=True">
    <button type="submit" class="btn btn-success" id="checknow">
      <span class="glyphicon glyphicon-refresh"></span>
      Activate auto-refresh
    </button>
  </a>
  {% endif %}
</div>

<div class="row show-grid">
  <div class="col-sm-4">
    {% if total_page > 1 %}
    <ul class="pagination pagination-sm">
        <li>
            {% if page > 1%}
              <a href="{{ url_for('browse_logs') }}?page={{page - 1}}">
                «
              </a>
            {% else %}
              <a href="{{ url_for('browse_logs') }}?page={{page}}">
                «
              </a>
            {% endif %}
        </li>
        <li>
            <a> {{ page }} / {{ total_page }} </a>
        </li>
        <li>
            {% if page < total_page %}
              <a href="{{ url_for('browse_logs') }}?page={{page + 1}}">
                »
              </a>
            {% else %}
              <a href="{{ url_for('browse_logs') }}?page={{page}}">
                »
              </a>
            {% endif %}
        </li>
    </ul>
    {% endif %}
  </div>

  <div class="col-sm-8">
    <form action="{{url_for('browse_logs') }}"
          role="form" action="GET">
      <div class="form-group">
        <input type="text" name="project" placeholder="Project name"
            class="SearchBox" value="{{ project }}"/>
        <input type="text" name="user" placeholder="User identifier"
            class="SearchBox" value="{{ user }}"/>
        <input type="text" name="from_date" id="from_date" placeholder="From Date"
            class="SearchBox" value="{{ from_date }}"/>
        <button type="submit" class="btn btn-default">
          Filter
        </button>
      </div>
    </form>
  </div>

</div>


<table>
{% for log in logs %}
    <tr>
        <td>
            {{ log.created_on.strftime('%Y-%m-%d %H:%M:%S') }}
        </td>
        <td>
        {{ log.description }}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}

{% block jscript %}
{{ super() }}
<script type="text/javascript">
    $(function(){
        $('#from_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
    });
</script>
{% endblock %}
