{% extends "master.html" %}
{% from "functions.html" import render_field_in_row %}

{% block title %}Distribution Mapping · Anitya{% endblock %}

{% block body %}

<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="page-header mt-3 mb-4 pb-2 border-bottom">
      <h1>Project: {{ project.name }}</h1>
    </div>
  </div>
</div>


{% if package %}
<form method="POST" action="{{ url_for('anitya_ui.edit_project_mapping',
    project_id=project.id, pkg_id=package.id) }}" >
{% else %}
<form method="POST" action="{{ url_for('anitya_ui.map_project', project_id=project.id) }}" >
{% endif %}
  {{ form.csrf_token }}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="list-group shadow-sm mb-3">
        <div class="list-group-item">
          <table class="table mb-0">
            <tr>
              {{ render_field_in_row(form.distro) }}
              <td></td>
            </tr>

            <tr>
              {{ render_field_in_row(form.package_name) }}
              <td></td>
            </tr>
         </table>
        </div>
      </div>
      
      <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-success">
          {% if package %}
          Edit mapping
          {% else %}
          Add mapping to project
          {% endif %}
        </button>

        <a href="{{ url_for('anitya_ui.project', project_id=project.id) }}" class="btn btn-danger">
          Cancel
        </a>
      </div>
    </div>
  </div>
</form>

<div class="row justify-content-center mt-4">
  <div class="col-md-8 col-lg-6 text-center text-muted">
    <p>
      Missing your favorite distribution?<br>
      You can add it through <a href="{{ url_for('anitya_ui.distros') }}">distros</a>
    </p>
  </div>
</div>

{% endblock %}

{% block jscript %}
<script type="text/javascript">
  // Tooltips
  $("#distro").prop('title', "Official distribution name");
  $("#package_name").prop('title', "Package name used in the distribution");
</script>
{% endblock %}
