{% extends "master.html" %}

{% block title %}{{ project.name }} · Anitya{% endblock %}

{% block body %}

<div class="page-header mt-4 mb-4 pb-2 border-bottom">
  {% if project.archived %}
    <h1>Project: {{ project.name }} - archived</h1>
    <p>This project is archived. It can't be edited and it's not checked for new versions. To unarchive project, please create a request using flag mechanism.</p>
  {% else %}
    <h1>Project: {{ project.name }}</h1>
  {% endif %}
</div>

<div class="row justify-content-center" resource="{{ project.homepage }}" typeof="doap:Project">
  <div class="col col-md">

    <div class="d-grid gap-3">
      <div class="list-group shadow-sm mb-4">
        <div class="list-group-item list-group-item-secondary">
          <div class="d-flex align-items-center justify-content-between">
            <h3 property="doap:name" class="mb-0">{{ project.name }}</h3>
            <div class="d-flex gap-2 align-items-center">
              {% if not project.archived %}
              <a href="{{ url_for('anitya_ui.edit_project', project_id=project.id) }}"
              role="button" class="btn btn-info" id="edit_btn" tabindex="1">
                  Edit
              </a>
              {% endif %}
              <a href="{{ url_for('anitya_ui.flag_project', project_id=project.id) }}"
              title="Ask for an admin intervention (delete version/project, fix mapping...)."
              class="btn btn-warning" role="button" id="flag_btn" tabindex="2">
                  Flag
              </a>
            </div>
          </div>
        </div>

        <div class="list-group-item">
          <div class="row">
            <div class="col-md-8">
                <h4 class="list-group-item-heading">Latest version</h4>
                <div class="list-group-item-text">
                  {% if project.versions %}
                    {% if project.latest_version_object and project.latest_version_object.commit_url %}
                      <div property="doap:release" typeof="doap:Version">{{ project.latest_version_object.version }} (<a href="{{ project.latest_version_object.commit_url }}">commit</a>)</div>
                    {% elif project.latest_version_object %}
                      <div property="doap:release" typeof="doap:Version">{{ project.latest_version_object.version }}</div>
                    {% else %}
                      <div property="doap:release" typeof="doap:Version">{{ project.latest_version }}</div>
                    {% endif %}
                  {% else %}
                    <p id="version_info">No version available for this package</p>
                  {% endif %}
                </div>
            </div>
            <div class="col-md-4">
              {% if user and user.is_authenticated and not project.archived and (not project.versions or is_admin
                or justedit) %}
              <button type="submit" class="btn btn-success btn-sm float-end"
                  id="testcheck" tabindex=3>
                Test check
              </button>
              <img src="{{url_for('anitya_ui.static', filename='img/spinner.gif')}}"
                id="testcheck-spinner" class="float-end"
                style="display: none; padding-top: 12px; padding-right: 25px;"/>
              <button type="submit" class="btn btn-success btn-sm mt-2 float-end"
                  id="checknow" tabindex=4>
                Full check
              </button>
              <img src="{{url_for('anitya_ui.static', filename='img/spinner.gif')}}"
                id="checknow-spinner" class="float-end"
                style="display: none; padding-top: 12px; padding-right: 25px;"/>
              {% endif %}
            </div>
          </div>
        </div><!-- end list-group-item -->

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Homepage</h4>
          <div class="list-group-item-text">
            <p class="mb-0"><a property="doap:homepage" href="{{ project.homepage }}"
               target="_blank" rel="noopener noreferrer">{{ project.homepage }}
             </a></p>
          </div>
        </div><!-- end list-group-item -->

        <div class="list-group-item">
          <h4 class="list-group-item-heading"><a href="{{ url_for('anitya_ui.static', filename='docs/user-guide.html') }}#backends">Backend</a></h4>
          <div class="list-group-item-text">
            <p class="mb-0">{{ project.backend }}</p>
          </div>
        </div><!-- end list-group-item -->

        {% if is_admin %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Ecosystem</h4>
          <div class="list-group-item-text">
            <p class="mb-0">{{ project.ecosystem_name }}</p>
          </div>
        </div><!-- end list-group-item -->
        {% endif %}

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Version scheme</h4>
          <div class="list-group-item-text">
            <p class="mb-0">{{ project.get_version_class().name }}</p>
          </div>
        </div><!-- end list-group-item -->

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Version check url</h4>
          <div class="list-group-item-text">
            <p class="mb-0"><a href="{{ project.get_version_url() }}">
              {{ project.get_version_url() }}
            </a></p>
          </div>
        </div><!-- end list-group-item -->

      {% if is_admin %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Whoah..</h4>
          <div class="list-group-item-text d-flex justify-content-between align-items-center">
            <span class="mb-0">Delete this project all-together?</span>
            <a href="{{url_for('anitya_ui.delete_project', project_id=project.id) }}" class="btn btn-danger btn-sm">
              Delete
            </a>
          </div>
        </div><!-- end list-group-item -->
        {% if not project.archived %}
        <div class="list-group-item">
          <div class="list-group-item-text d-flex justify-content-between align-items-center">
              <span class="mb-0">Archive project?</span>
              <a href="{{url_for('anitya_ui.set_project_archive_state', project_id=project.id, state='true' ) }}" class="btn btn-warning btn-sm">
                  Archive
              </a>
          </div>
        </div><!-- end list-group-item -->
        {% else %}
        <div class="list-group-item">
          <div class="list-group-item-text d-flex justify-content-between align-items-center">
              <span class="mb-0">Unarchive project?</span>
              <a href="{{url_for('anitya_ui.set_project_archive_state', project_id=project.id, state='false' ) }}" class="btn btn-success btn-sm">
                  Unarchive
              </a>
          </div>
        </div><!-- end list-group-item -->
        {% endif %}
      {% endif %}
      </div><!-- end list-group -->


      <div class="list-group shadow-sm mb-4">
        <div class="list-group-item list-group-item-secondary">
          <h3 class="mb-0">Mappings</h3>
        </div>

        <div class="list-group-item">
          <div class="list-group-item-text">
              <table class="table table-condensed mb-0">
                <tr>
                  <th>Distribution</th>
                  <th>Package name </th>
                  <th>Edit</th>
                  {% if is_admin %}
                  <th>Delete</th>
                  {% endif %}
                </tr>

                {% for package in project.packages|sort(attribute='distro_name,package_name') %}
                <tr>
                  <td>{{ package.distro_name }}</td>
                  <td>
                    {% if package.distro_name in links %}
                      <a href="{{ links.get(package.distro_name) % package.package_name}}">
                        {{ package.package_name }}
                      </a>
                    {% else %}
                      {{ package.package_name }}
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{
                      url_for('anitya_ui.edit_project_mapping',
                              project_id=project.id,
                              pkg_id=package.id) }}" class="btn btn-info btn-sm float-end">
                      Edit
                    </a>
                  </td>
                  {% if is_admin %}
                  <td>
                    <a href="{{
                      url_for('anitya_ui.delete_project_mapping',
                              project_id=project.id,
                              distro_name=package.distro_name,
                              pkg_name=package.package_name) }}" class="btn btn-warning btn-sm float-end" tabindex="7">
                      Delete
                    </a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}

              </table>
          </div><!-- end group-item-text -->
        </div><!-- end group-item -->
        {% if user and user.is_authenticated and not project.archived %}
        <div class="list-group-item">
          <div class="list-group-item-text d-flex justify-content-end">
            <a href="{{ url_for('anitya_ui.map_project', project_id=project.id) }}" class="btn btn-info btn-sm" tabindex="6">
              Add new distribution mapping
            </a>
          </div><!-- end group-item-text -->
        </div><!-- end group-item -->
        {% endif %}
      </div><!-- end-group -->
    </div><!-- end column -->
  </div><!-- end d-grid -->

  <div class="col col-md">
    <div class="d-grid gap-3">
      <div class="list-group shadow-sm mb-4">
        <div class="list-group-item list-group-item-secondary">
          <h3 class="mb-0">Status</h3>
        </div>
        <span class="list-group-item">
          <table class="table table-condensed mb-0">
            <tr>
              <th>Status</th>
              {% if project.check_successful is not none and project.check_successful == false %}
              <th>Checks failed</th>
              {% endif %}
              <th>Updated</th>
              <th>Description</th>
            </tr>
            <tr class="align-middle">
              {% if project.check_successful is none %}
              <td>Not updated</td>
              {% elif not project.check_successful %}
              <td style="color:red;">Fail</td>
              <td>{{ project.error_counter }}</td>
              {% else %}
              <td style="color:green;">OK</td>
              {% endif %}
              <td>{{ project.last_check.strftime('%Y-%m-%d %H:%M:%S') }} (UTC)</td>
              <td>{{ project.logs }}</td>
            </tr>
          </table>
          <div class="clearfix"></div>
        </span>
      </div><!-- end list-group -->

      <div class="list-group shadow-sm mb-4">
        <div class="list-group-item list-group-item-secondary">
          <h3 class="mb-0">Versions</h3>
        </div>
        <span class="list-group-item">
          {% if project.versions %}
          <table class="table table-condensed mb-0">
            <tr>
              <th>Version</th>
              <th>Retrieved on (UTC)</th>
              <th class="text-center">Pre-release</th>
              {% if is_admin %}
              <th>Raw version</th>
              <th>Delete</th>
              {% endif %}
            </tr>
            {% for version in project.get_sorted_version_objects(ignore_filter=is_admin) %}
            {% set is_hidden = is_admin and project.is_version_filtered(version.version) %}
            <tr property="doap:release" typeof="doap:Version" class="align-middle{% if is_hidden %} text-muted opacity-75{% endif %}">
              <td property="doap:revision" class="align-middle">
                <span class="me-2">{{ version.parse() }}</span>
                {% if is_hidden %}
                <span class="badge bg-secondary fw-normal" title="This version is filtered from public view">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-eye-slash-fill me-1" viewBox="0 0 16 16" style="margin-top:-2px;">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                  </svg>Filtered
                </span>
                {% endif %}
              </td>
              {% if version.created_on %}
              <td>{{ version.created_on.strftime('%Y-%m-%d %H:%M') }}</td>
              {% else %}
              <td>Date information unavailable</td>
              {% endif %}
              <td class="text-center align-middle">
                  {% if version.prerelease() %}
                  <input class="form-check-input mt-0" type="checkbox" checked disabled >
                  {% else %}
                  <input class="form-check-input mt-0" type="checkbox" disabled >
                  {% endif %}
              </td>
              {% if is_admin %}
              <td>{{ version.version }}</td>
              <td class="align-middle text-center">
                <a href="{{ url_for('anitya_ui.delete_project_version',
                            project_id=project.id,
                            version=version.version) }}"
                title="Delete this version">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-danger" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                  </svg>
                </a>
              </td>
              {% endif %}
            {% endfor %}
          </table>
          {% else %}
          <p id="version_info">No version available for this package</p>
          {% endif %}
        </span>
        {% if is_admin %}
        <div class="list-group-item">
          <div class="list-group-item-text d-flex justify-content-end">
            <a href="{{url_for('anitya_ui.delete_project_versions', project_id=project.id) }}" class="btn btn-danger btn-sm">
                Delete versions
            </a>
          </div>
        </div>
        {% endif %}
      </div> <!-- end list-group -->
    </div><!-- end d-grid -->
  </div><!-- end column -->
</div><!-- end row -->

{% endblock %}

{% block jscript %}
<script>
  function checkrelease(test){
    if(!test) {
        // This might be null. Let's default to false.
        test = false;
    };
    var btn = '#checknow';
    if (test) {
      btn = '#testcheck';
    }
    $(btn).hide(); $(btn + "-spinner").show();
    var _id = "{{ project.id }}";
    var _url = "{{ url_for('apiv2.versions')}}";
    data = {id: _id};
    data.dry_run = test;
    $.ajax({
        url: _url ,
        type: 'POST',
        data: data,
        dataType: 'json',
        success: function(res) {
          if (test) {
            alert(
                'New versions: \n' + res.found_versions.join(', ') + '\n' +
                'All versions: \n' + res.versions.join(', ') + '\n' +
                'Latest version: ' + res.latest_version
            );
          } else {
            window.location.reload(false);
          }
          $(btn).show(); $(btn + "-spinner").hide();
        },
        error: function(res) {
          $(btn).show(); $(btn + "-spinner").hide();
          alert(
              'Unable to retrieve the latest version from upstream!\n'
              + 'ERROR: ' + res.responseJSON );
        }
    });
  };

  $('body').bind('keyup', function(event) {
    if (event.ctrlKey){
        return false;
    }
    if (event.which == 69 && !$("#searchbox").is(':focus')) { //e
      window.location.replace("{{ url_for('anitya_ui.edit_project', project_id=project.id) }}");
    }
    {% if user and user.is_authenticated and (not project.versions or is_admin) %}
    if (event.which == 67 && !$("#searchbox").is(':focus')) { //c
      checkrelease();
      return false;
    }
    {% endif %}
  });

  $('#checknow').click(function(){
    checkrelease();
    return false;
  });

  $('#testcheck').click(function(){
    checkrelease(test=true);
    return false;
  });
</script>
{% endblock %}
