{% extends "master.html" %}

{% block body %}

<div class="page-header">
  <h1>Project: {{ project.name }}</h1>
</div>

<div class="row" resource="{{ project.homepage }}" typeof="doap:Project">
  <div class="col-md-5 col-md-offset-1">

    <div class="panel panel-default">
      <div class="panel-heading">
          <div class="list-group-item-text">
        <a href="{{ url_for('edit_project', project_id=project.id) }}">
            <button type="submit" class="btn btn-info btn-sm pull-right inline"
                id="edit_btn">
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            </button>
        </a>
        <h3 class="panel-title inline" property="doap:name">{{ project.name }}</h3>
        </div>
      </div>

      <div class="list-group">
        <div class="list-group-item">
          <div class="row">
            <div class="col-md-10">
                <h4 class="list-group-item-heading">Latest version(s):</h4>
                <div class="list-group-item-text">
                  {% if project.versions %}
                  <ul>
                    {% for version in project.versions %}
                    <li property="doap:release" typeof="doap:Version">
                      <span property="doap:revision">{{ version }}</span>
                      {% if is_admin %}
                      <a href="{{ url_for('delete_project_version',
                                    project_id=project.id,
                                    version=version) }}">delete</a>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <p id="version_info">No version available for this package</p>
                  {% endif %}
                </div>
            </div>
            <div class="col-md-2">
              {% if g.auth.logged_in and (not project.versions or is_admin) %}
              <button type="submit" class="btn btn-success btn-sm pull-right" id="checknow">
                <span class="glyphicon glyphicon-refresh"></span>
                Check now
              </button>
              {% endif %}
            </div>
          </div>
        </div><!-- end list-group-item -->

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Homepage:</h4>
          <div class="list-group-item-text">
            <p><a property="doap:homepage" href="{{ project.homepage }}"
               target="_blank">{{ project.homepage }}
             </a><p>
          </div>
        </div><!-- end list-group-item -->

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Backend:</h4>
          <div class="list-group-item-text">
            <p>{{ project.backend }}</p>
          </div>
        </div><!-- end list-group-item -->

      {% if is_admin %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Whoah..</h4>
          <div class="list-group-item-text">
            <a href="{{url_for('delete_project', project_id=project.id) }}">
              <button type="submit" class="btn btn-danger btn-sm pull-right">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
              </button>
            </a>
            <p>Delete this project all-together?</p>
          </div>
        </div><!-- end list-group-item -->
      {% endif %}

      </div><!-- end list-group -->
    </div><!-- end panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mappings</h3>
      </div>

      <div class="list-group">
        <div class="list-group-item">
          <div class="list-group-item-text">
            <dl class="dl-horizontal">
              <table class="table table-condensed">
                <tr>
                  <th>Distribution</th>
                  <th>Package name </th>
                  {% if is_admin %}
                  <th></th>
                  {% endif %}
                </tr>

                {% for package in project.packages %}
                <tr>
                  <td>{{ package.distro }}</td>
                  <td>{{ package.package_name }}</td>
                  <td>
                    <a href="{{
                      url_for('edit_project_mapping',
                              project_id=project.id,
                              pkg_id=package.id) }}">
                      <button type="submit" class="btn btn-info btn-sm pull-right">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                      </button>
                    </a>
                  </td>
                  {% if is_admin %}
                  <td>
                    <a href="{{
                      url_for('delete_project_mapping',
                              project_id=project.id,
                              distro_name=package.distro,
                              pkg_name=package.package_name) }}">
                      <button type="submit" class="btn btn-warning btn-sm pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete
                      </button>
                    </a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}

              </table>
            </dl>
          </div><!-- end group-item-text -->
        </div><!-- end group-item -->
        {% if g.auth.logged_in %}
        <div class="list-group-item">
          <div class="list-group-item-text">
            <p><a href="{{ url_for('map_project', project_id=project.id) }}">
            <button type="submit" class="btn btn-info btn-sm pull-right">
              <span class="glyphicon glyphicon-map-marker"></span>
              Add new distribution mapping
            </button>
          </a></p>
        <div class="clearfix"></div>
          </div><!-- end group-item-text -->
        </div><!-- end group-item -->
        {% endif %}
      </div><!-- end-group -->
    </div><!-- end panel -->
  </div><!-- end column -->

  <div class="col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            Logs
        </h3>
      </div>
      <span class="list-group-item">
            {{ project.logs }}
        <div class="clearfix"></div>
      </span>
    </div>

  </div>
</div>

{% endblock %}

{% block jscript %}
<script>
  function checkrelease(){
    var _id = "{{ project.id }}";
    var _url = "{{ url_for('api_get_version') }}";
    $.ajax({
        url: _url ,
        type: 'POST',
        data: {id: _id},
        dataType: 'json',
        success: function(res) {
          if (res.version){
            output = res.version;
          } else {
            output = res.error;
          }
          $('#version_info').html(
              "Latest versions: " + output);
        },
        error: function(res) {
            alert(
                'Unable to retrieve the latest version form upstream!\n'
                + 'ERROR: ' + res.responseJSON.error );
        }
    });
  };

  $('body').bind('keyup', function(event) {
    if (event.which == 69) { //e
      window.location.replace("{{ url_for('edit_project', project_id=project.id) }}");
    }
    {% if g.auth.logged_in and (not project.versions or is_admin) %}
    if (event.which == 67) { //c
      checkrelease();
      return false;
    }
    {% endif %}
  });

  $('#checknow').click(function(){
    checkrelease();
    return false;
  });
</script>
{% endblock %}
