{% extends "master.html" %}
{% from "functions.html" import render_field_in_row %}

{% block title %}Add New Project · Anitya{% endblock %}

{% block body %}

<div class="page-header">
  <h1>{{ context }} project</h1>
</div>
{% if context == 'Add' -%}
<form method="POST" action="{{ url_for('anitya_ui.new_project') }}" >
{%- elif context == 'Edit' -%}
<form method="POST" action="{{ url_for('anitya_ui.edit_project', project_id=project.id) }}" >
{%- endif %}
  <div class="row">
    <div class="col-md-6">
      <p> {{ context }} your project to anitya</p>
      <div class="list-group">
        <span class="list-group-item">
          <table class="table table-condensed">
            <tr>
              {{ render_field_in_row(form.name, tabindex=1) }}
            </tr>
            <tr>
              {{ render_field_in_row(form.homepage, type="url", tabindex=2) }}
            </tr>
            <tr>
              {{ render_field_in_row(form.backend, tabindex=3) }}
            </tr>
            <tr id="version_url_row">
              {{ render_field_in_row(form.version_url, tabindex=4) }}
            </tr>
            <tr id="version_prefix_row">
              {{ render_field_in_row(form.version_prefix, tabindex=5) }}
            </tr>
            <tr id="regex_row">
              {{ render_field_in_row(form.regex, tabindex=6) }}
            </tr>
            <tr id="default_regex_row">
              <td><label>Default regex:</label></td>
              <td id="regex_example_txt"></td>
            </tr>
            <tr id="examples_row">
              <td><label>Examples:</label></td>
              <td id="example_urls"></td>
            </tr>
            <tr id="insecure_row">
              {{ render_field_in_row(form.insecure, tabindex=7) }}
            </tr>
            <tr id="check_release_row">
              {{ render_field_in_row(form.check_release, tabindex=8) }}
            </tr>

            {%- if context == 'Add' -%}
            <tr>
              {{ render_field_in_row(form.distro, tabindex=9) }}
              <td></td>
            </tr>
            <tr>
              {{ render_field_in_row(form.package_name, tabindex=10) }}
              <td></td>
            </tr>
            {%- endif -%}
          </table>
        </span>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" tabindex=10>
    <span class="glyphicon glyphicon-plus"></span>
    Submit
  </button>
  {%- if context == 'Add' -%}
  <a href="{{ url_for('anitya_ui.projects') }}">
  {%- elif context == 'Edit' -%}
  <a href="{{ url_for('anitya_ui.project', project_id=project.id) }}">
  {%- endif -%}
    <button type="button" class="btn btn-danger" tabindex=11>
      <span class="glyphicon glyphicon-ban-circle"></span>
      Cancel
    </button>
  </a>
  {{ form.csrf_token }}
</form>

  <div class="row">
    <div class="col-md-6" id="info_field">
      <div class="list-group">
        <span class="list-group-item">
          <p id="info_field_title"></p>
          <ul id="info_field_list"></ul>
        </span>
      </div>
    </div>
  </div>
{% endblock %}


{% block jscript %}
<script type="text/javascript">

    var examples = {};
    var more_info = {};
    var default_regex = {};

    {% for plugin in plugins -%}
      {%- autoescape false -%}

        examples["{{ plugin.name }}"]="{{ plugin.examples | format_examples }}";
        more_info["{{ plugin.name }}"]="{{ plugin.more_info}}";
        default_regex["{{ plugin.name }}"]="{{ plugin.default_regex }}";

      {%- endautoescape -%}
    {%- endfor %}

  function show_hide(){

    if ($('#version_url').parent().find('p')) {
      $('#version_url').parent().find('p').remove()
    }

    $('#regex_row').hide();
    $('#default_regex_row').hide();
    $('#version_url_row').hide();
    $('#insecure_row').hide();
    $('#regex').attr('placeholder', '');

    $("label[for='version_url']").text('Version URL');
    var str = $( '#backend option:selected' ).text();

    if (str == 'folder'){
      $('#version_url_row').show();
      $('#insecure_row').show();
    };
    if (str == 'GitHub'){
      $("label[for='version_url']").text('GitHub owner/project');
      $('#version_url_row').show();
    };
    if (str == 'BitBucket'){
      $("label[for='version_url']").text('BitBucket owner/project');
      $('#version_url_row').show();
    };
    if (str == 'Packagist'){
      $("label[for='version_url']").text('Packagist owner/group');
      $('#version_url_row').show();
    };
    if (str == 'Sourceforge'){
      $("label[for='version_url']").text('Sourceforge name');
      $('#version_url').after(
      "<p>Use this field if the name used on the rss page of the project "
      + "differs from the name of the project. </p>" );
      $('#version_url_row').show();
    };
    if (str == 'Maven Central'){
      $("label[for='version_url']").text('Maven groupId:artifactId');
      $('#version_url_row').show();
    };
    if (str == 'custom'){
      $('#version_url_row').show();
      $('#insecure_row').show();
      $('#regex_row').show();
      $('#default_regex_row').show();
      $('#regex').attr('placeholder', 'Leave empty for default regex');
    };

    $('#example_urls').html(examples[str]);

    if (more_info[str] != 'None') {
      $('#example_urls').append('<br /> <br /> <span id="more-info"> ' + more_info[str] + '</span>');
    }

    var temp = default_regex[str];
    if ($('#name').val()) {
      temp = temp.replace('{project name}', $('#name').val());
    }
    $('#regex_example_txt').html('<div id="default_regex_txt">' + temp + '</div>');
  };

  function show_similar_projects(_url, type) {
    $.ajax({
        url: _url,
        type: 'GET',
        dataType: 'json',
        success: function(res) {
          $('#info_field_list').html('');
          if (res.total > 0){
            $('#info_field_title').html('Project with the same ' + type);
            for (i = 0; i < res.projects.length; i++){
              $('#info_field_list').append(
                '<li>'+ res.projects[i].name + '</li>');
            }
            $('#info_field').show();
          } else {
            $('#info_field').hide();
          }
        },
        error: function(res) {
          console.log(res);
          $('#info_field_list').html('');
          $('#info_field').show();
          $('#info_field_title').html(
            'An error occured while retrieving the list of similar project '
            + 'please re-try or report the problem to an admin'
          );
        },
      });
  }

  $(document).ready(function() {
    $('#info_field').hide();
    show_hide();
    $('#backend').change(function() {
      show_hide();
    });

    $('#name').focusout(function(){
        var _name = $('#name').val().trim();
        show_hide();
        if (_name) {
          var _url = "{{ url_for('anitya_apiv1.api_projects') }}?pattern=" + _name;
          show_similar_projects(_url, 'name');
        } else {
          $('#info_field').hide();
        }
    });
    $('#homepage').focusout(function(){
      var _homepage = $('#homepage').val().trim();
      if (_homepage) {
        var _url = "{{ url_for('anitya_apiv1.api_projects') }}?homepage=" + _homepage;
        show_similar_projects(_url, 'homepage');
      } else {
        $('#info_field').hide();
      }
    });
  });

  $('body').bind('keyup', function(event) {
    if (event.which == 27) { // esc
      {% if context == 'Add' %}
      window.location.replace("{{ url_for('anitya_ui.projects') }}");
      {% elif context == 'Edit' %}
      window.location.replace("{{ url_for('anitya_ui.project', project_id=project.id) }}");
      {% endif %}
    }
  });

  {% if context == 'Add' %}
  $(function() {
    $('#distro').autocomplete({
        source: function( request, response ) {
            $.getJSON(
              "{{ url_for('anitya_apiv1.api_distro_names') }}", {
                pattern: request.term
              },
              function( data ) {
                response( data.distro );
              }
            );
        },
        minLength: 2,
        delay: 200,
    });
  });
  {% endif %}
</script>
{% endblock %}
