{% extends "master.html" %}

{% block title %}Projects · Anitya{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Projects
      {% if status == 'updated' %}
      <small>that updated successfully at the last run</small>
      {% elif status == 'failed' %}
      <small>that failed to update at the last run</small>
      {% elif status == 'archived' %}
      <small>that are archived</small>
      {% elif status == 'never_updated' %}
      <small>that have never updated</small>
      {% endif %}
  </h1>
</div>

<div class="row show-grid">
  <div class="col-sm-4">
    {% if total_page > 1 %}
    <ul class="pagination pagination-sm">
        {% if page > 1%}
        <li class="page-item">
            <a class="page-link" href="{{url_for('anitya_ui.projects_updated',
                      status=status, page=page-1, name=name, log=log ) }}">
                «
            </a>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link"> « </a>
            {% endif %}
        </li>
        <li class="page-item disabled">
            <a class="page-link"> {{ page }} / {{ total_page }} </a>
        </li>
        {% if page < total_page %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('anitya_ui.projects_updated',
                      status=status, page=page+1, name=name, log=log ) }}">
                »
            </a>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link"> » </a>
            {% endif %}
        </li>
    </ul>
    {% endif %}
  </div>

  <div class="col-sm-8">
    <form action="{{url_for('anitya_ui.projects_updated', status=status) }}"
          role="form" class="d-flex gap-2">
        <input type="text" name="name" placeholder="Project name" class="form-control input-sm"/>
        {% if status != 'archived' %}
        <input type="text" name="log" placeholder="Project log" class="form-control input-sm"/>
        {% endif %}
        <button type="submit" class="btn btn-outline-success">
          Search
        </button>
    </form>
  </div>
</div>

<div class="row">
  <p>{{ projects_count }} projects found</p>
  <div class="list-group">
    {% if projects %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Project name</th>
                {% if status != 'archived' %}
                <th scope="col">Log content</th>
                {% endif %}
                {% if status == 'failed' %}
                <th scope="col">Checks failed</th>
                {% endif %}
                {% if status == 'updated' or status == 'archived' %}
                <th scope="col">Last update</th>
                {% endif %}
                {% if status == 'never_updated' %}
                <th scope="col">Created on</th>
                {% endif %}
            </tr>
        </thead>
    {% for project in projects %}
        <tr>
            <td>
            <a href="{{ url_for('anitya_ui.project', project_id=project.id) }}">
            {{project.name}}
            </a>
            </td>
            {% if status != 'archived' %}
            <td>
            {{ project.logs }}
            </td>
            {% endif %}
            {% if status == 'failed' %}
            <td>{{ project.error_counter }}</td>
            {% endif %}
            {% if status == 'updated' or status == 'archived' %}
            <td>{{ project.last_check.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            {% endif %}
            {% if status == 'never_updated' %}
            <td>{{ project.created_on.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
  {% else %}
  <blockquote>
      No project found in this category.
  </blockquote>
  {% endif %}
  </div>
</div>

<div class="row show-grid">
  <div class="col-sm-4">
    {% if total_page > 1 %}
    <ul class="pagination pagination-sm">
      {% if page > 1%}
      <li class="page-item">
        <a class="page-link" href="{{url_for('anitya_ui.projects_updated',
                  status=status, page=page-1, name=name, log=log ) }}">
            «
        </a>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link"> « </a>
        {% endif %}
      </li>
      <li class="page-item disabled">
        <a class="page-link"> {{ page }} / {{ total_page }} </a>
      </li>
      {% if page < total_page %}
      <li class="page-item">
        <a class="page-link" href="{{url_for('anitya_ui.projects_updated',
                  status=status, page=page+1, name=name, log=log ) }}">
            »
        </a>
        {% else %}
      <li class="page-item disabled">
        <a class="page-link"> » </a>
      {% endif %}
      </li>
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
