{% extends "master.html" %}
{% from "functions.html" import render_field_in_row %}

{% block title %}Delete User · Anitya{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Delete user: {{ user.username }}</h1>
</div>

<form method="POST" action="{{ url_for('anitya_ui.delete_user', user_id=user.id) }}" >
  <button type="submit" name="confirm" value="Yes" class="btn btn-success">
    Submit
  </button>
  <a href="{{ url_for('anitya_ui.browse_users') }}">
    <button type="button" class="btn btn-danger">
      Cancel
    </button>
  </a>
  {{ form.csrf_token }}
</form>

{% endblock %}
