---

- name: Install helpful development packages
  dnf:
    name: [
           git,
           vim-enhanced,
           python-devel,
           python36,
           python37,
           python3-black,
           python3-tox,
           tmux
          ]
    state: present

- name: Install anitya system dependencies
  dnf:
    name: [
           gcc,
           graphviz,
           make,
           libffi-devel,
           openssl-devel,
           postgresql-devel,
           python3-devel,
           python3-psycopg2
          ]
    state: present

- name: Install documentation build dependencies
  dnf:
    name: [
           python3-sphinxcontrib-httpdomain,
           python3-sqlalchemy_schemadisplay
          ]
    state: present

- name: Install dependencies packaged in Fedora
  dnf:
    name: [
           fedora-messaging,
           python3-alembic,
           python3-arrow,
           python3-dateutil,
           python3-defusedxml,
           python3-flask-login,
           python3-flask-restful,
           python3-flask-wtf,
           python3-jinja2,
           python3-ordered-set,
           python3-toml,
           python3-semver,
           python3-sqlalchemy,
           python3-sseclient,
           python3-straight-plugin,
           python3-wtforms
          ]
    state: present
  tags: packages

# Add various helpful configuration files
- name: Install a custom bashrc
  become_user: "{{ ansible_env.SUDO_USER }}"
  copy: src=bashrc dest=/home/{{ ansible_env.SUDO_USER }}/.bashrc

- name: Install the message of the day
  copy: src=motd dest=/etc/motd

- name: Install Anitya flask configuration
  become_user: "{{ ansible_env.SUDO_USER }}"
  copy: src=anitya.toml dest=/home/{{ ansible_env.SUDO_USER }}/anitya.toml

- name: Install Anitya into the virtualenv
  pip:
    name:
      - "{{ anitya_src }}"
      - "{{ anitya_src }}/anitya_schema"
    extra_args: "-e"
  tags: install

- name: Create user systemd directory
  become_user: "{{ ansible_env.SUDO_USER }}"
  file:
    path: /home/{{ ansible_env.SUDO_USER }}/.config/systemd/user/
    state: directory

- name: Install the Anitya systemd service file
  become_user: "{{ ansible_env.SUDO_USER }}"
  copy:
    src: anitya.service
    dest: /home/{{ ansible_env.SUDO_USER }}/.config/systemd/user/anitya.service

- name: Install the Anitya check service systemd file
  become_user: "{{ ansible_env.SUDO_USER }}"
  copy:
    src: check-service.service
    dest: /home/{{ ansible_env.SUDO_USER }}/.config/systemd/user/check-service.service

- name: Reload the systemd daemon
  become_user: "{{ ansible_env.SUDO_USER }}"
  command: systemctl --user daemon-reload

- name: Build the Anitya documentation
  become_user: "{{ ansible_env.SUDO_USER }}"
  shell: >
      make install
  args:
    chdir: /home/{{ ansible_env.SUDO_USER }}/devel/docs/
    creates: /home/{{ ansible_env.SUDO_USER }}/devel/anitya/static/docs/objects.inv

- import_tasks: db.yml
- import_tasks: librariesio.yml
- import_tasks: rabbitmq.yml
