[Unit]
Description=Release check service for Anitya
After=network.target
Documentation=https://github.com/fedora-infra/anitya/

[Service]
Environment="ANITYA_WEB_CONFIG=/home/vagrant/anitya.toml"
ExecStart=check_service.py
Type=simple

[Install]
WantedBy=multi-user.target
