[Unit]
Description=librariesio SSE client
After=network.target

[Service]
Environment="ANITYA_WEB_CONFIG=/home/vagrant/anitya.toml"
ExecStart=/usr/local/bin/librariesio_consumer
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
