# Beware that the quotes around the values are mandatory

### Secret key for the Flask application
SECRET_KEY='<The web application secret key>'

### url to the database server:
#DB_URL=mysql://user:pass@host/db_name
#DB_URL=postgresql://user:pass@host/db_name
DB_URL = 'sqlite:////var/tmp/anitya-dev.sqlite'


### List of anitya admins via their openid identifier
ANITYA_WEB_ADMINS = [
    'http://ralph.id.fedoraproject.org/',
    'http://pingou.id.fedoraproject.org/',
]

### Precise the location of the Fedora OpenID server
ANITYA_WEB_FEDORA_OPENID = 'https://id.fedoraproject.org'

### Activate/Deactivate OpenID servers
ANITYA_WEB_ALLOW_FAS_OPENID = True
ANITYA_WEB_ALLOW_GOOGLE_OPENID = True
ANITYA_WEB_ALLOW_YAHOO_OPENID = True
ANITYA_WEB_ALLOW_GENERIC_OPENID = True
