# This configuration should be a YAML-formatted file that
# produces an associative array (dictionary) when parsed.
---

# Secret key used to generate the CSRF token in the forms.
SECRET_KEY: changeme please

# The lifetime of the session, in seconds.
PERMANENT_SESSION_LIFETIME: 3600

# URL to the database
DB_URL: sqlite:////var/tmp/anitya-dev.sqlite

# List of admins based on their openid
ANITYA_WEB_ADMINS:
  - http://pingou.id.fedoraproject.org

ANITYA_WEB_FEDORA_OPENID: https://id.fedoraproject.org

# A set of booleans to enable or disable OpenID providers
ANITYA_WEB_ALLOW_FAS_OPENID: True
ANITYA_WEB_ALLOW_GOOGLE_OPENID: True
ANITYA_WEB_ALLOW_YAHOO_OPENID: True
ANITYA_WEB_ALLOW_GENERIC_OPENID: True

# The email to use in the 'From' header when sending emails.
ADMIN_EMAIL: admin@fedoraproject.org

ANITYA_LOG_CONFIG:
  version: 1
  disable_existing_loggers: False
  formatters:
    simple:
      format: "[%(name)s %(levelname)s] %(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      formatter: simple
      stream: ext://sys.stdout
  loggers:
    anitya:
      level: INFO
      propagate: False
      handlers:
        - console
  root:
    level: INFO
    handlers:
      - console

# The SMTP server to send mail through
SMTP_SERVER: 127.0.0.1

# Whether or not to send emails to MAIL_ADMIN via SMTP_SERVER when HTTP 500
# errors occur.
EMAIL_ERRORS: False
BLACKLISTED_USERS:
  - http://sometroublemaker.id.fedoraproject.org
