# Requirements that are pinned to the library versions available in EL7
alembic == 0.8.3
blinker
python-dateutil == 1.5
fedmsg == 0.18.2
Flask == 0.10.1
flask-restful == 0.3.5
flask-wtf == 0.8
jinja2 == 2.7.2
social-auth-app-flask
social-auth-app-flask-sqlalchemy
sqlalchemy == 0.9.8
# https://github.com/ironfroggy/straight.plugin/issues/17#issuecomment-41466275
straight.plugin==1.4.0-post-1
pytoml == 0.1.11
wtforms == 2.0
